.navbar-section {
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: #fff;
  position: sticky;
  height: 60px;
  line-height: 60px;
  top: 0;
  left: 0;
  z-index: 100;
  .navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    line-height: 60px;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      h2 {
        color: blueviolet;
      }
      .nav-icon {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          color: gray;
        }
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      .search-bar {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
        input {
          border: none;
          outline: none;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .nav-icon {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .profile-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        .nav-icon {
          font-size: 25px;
          color: rgb(78, 78, 170);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}
